<div class="container">
    <div class="row justify-content-center mt-5 mb-5">
        <div class="col-md-5">
            <div class="card text-center">
                <div class="card-header fs-3">
                    Registro
                </div>
                <div class="card-body text-start">
                    <form id="registro-form" action="">
                        <div class="form-row mb-3">
                            <div class="col-md-12 form-group">
                                <label for="email" class="mb-2">E-mail</label>
                                <input type="text" class="form-control" name="email" id="email">
                            </div>
                        </div>
                        <div class="form-row mb-3">
                            <div class="col-sm-12 form-group">
                                <label for="senha" class="mb-2">Senha</label>
                                <input type="text" class="form-control" name="senha" id="senha">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-sm-12 form-group">
                                <label for="confirmação-da-senha" class="mb-2">Confirmar senha</label>
                                <input type="text" class="form-control" name="confirmação-da-senha" id="confirmação-da-senha">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="card-footer">
                    <div class="row">
                        <div class="col-md-6"></div>
                        <div class="col-md-6">
                            <button class="btn btn-success btn-default" type="submit" form="registro-form">Registrar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>        
    </div>
</div>