<div class="footer">
    <div class="container">
        <div id="informacoes" class="row">
            <div class="col-sm-4">
                <div class="coluna"><a href="#">Home</a></div>
                <div class="coluna"><a href="#">Contato</a></div>
                <div class="coluna"><a href="#">O que é?</a></div>
            </div>
            <div class="col-sm-4">
                <div class="coluna"><a href="#">Benefícios</a></div>
                <div class="coluna"><a href="#">Ajuda</a></div>
                <div class="coluna"><a href="#">As 10 mais da semana</a></div>
            </div>
            <div class="col-sm-4">
                <div class="coluna"><a href="#">Facebook</a></div>
                <div class="coluna"><a href="#">Instagram</a></div>
                <div class="coluna"><a href="#">GitHub</a></div>
            </div>
        </div>
        <hr style="background-color: white">
        <div class="row">
            <div class="col-sm-6">LOGO</div>
            <div class="col-sm-6">OUTRA LOGO</div>
        </div>
    </div> 
</div>