<div class="carousel-posicao">
    <div id="carouselCaptions" class="carousel slide" data-bs-ride="carousel" style="width: 100%;">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="../../../assets/img/carousel-slide-1.jpg" class="d-block w-100" height="500px" width="auto" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Escute músicas</h5>
                    <p>Escute músicas compartilhadas pela própria comunidade e pelos cantores e compositores.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="../../../assets/img/carousel-slide-2.jpg" class="d-block w-100" height="500px" width="auto" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Compartilhe músicas</h5>
                    <p>Compartilhe suas músicas para que pessoas como você as escutem.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="../../../assets/img/carousel-slide-3.jpg" class="d-block w-100" height="500px" width="auto" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Crie playlist music like</h5>
                    <p>Crie uma playlist onde seus fãns podem interagir durante o show, escolhendo a próxima música que você vai cantar.</p>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselCaptions" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselCaptions" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>
