<div class="container">
    <div class="row justify-content-center mt-5 mb-5">
        <div class="col-md-5">
            <div class="card text-center">
                <div class="card-header fs-3">
                    Recuperar senha
                </div>
                <div class="card-body text-start">
                    <form id="recuperar-senha-form" action="">
                        <div class="form-row mb-3">
                            <div class="col-md-12 form-group">
                                <p class="texto">Digite o e-mail de sua conta para que você possa recuperar sua senha, caso o e-mail não chegue por favor cheque sua caixa de spam e lixeira. Agradecemos por utilizar o MusicLike!</p>
                            </div>
                        </div>
                        <div class="form-row mb-3">
                            <div class="col-md-12 form-group">
                                <label for="email" class="mb-2">E-mail</label>
                                <input type="text" class="form-control" name="email" id="email">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="card-footer">
                    <div class="row">
                        <div class="col-md-6"></div>
                        <div class="col-md-6">
                            <button class="btn btn-success btn-default" type="submit" form="recuperar-senha-form">Enviar e-mail</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>        
    </div>
</div>