<nav class="navbar navbar-expand-lg navbar-dark backgroud-color-default">
    <div class="container">
        <a class="navbar-brand" href="" style="color: white;">
            <img src="../../../assets/img/like.svg" width="30" height="30" class="d-inline-block align-top" alt="">
            MusicLike
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link btn-rosa-claro" aria-current="page" routerLink="/index" routerLinkActive="btn-active"  style="color: white;">Home</a>
                </li>
                <li *ngIf="!(logado)" class="nav-item">
                    <a class="nav-link btn-rosa-claro" routerLink="/login" routerLinkActive="btn-active"  style="color: white;">Login</a>
                </li>
                <li *ngIf="!(logado)" class="nav-item">
                    <a class="nav-link btn-rosa-claro" routerLink="/registro" routerLinkActive="btn-active"  style="color: white;">Registro</a>
                </li>
                <li *ngIf="!logado" class="nav-item dropdown">
                    <a class="nav-link btn-rosa-claro dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false"  style="color: white;">
                        {{user.name}}
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#">Meu perfil</a></li>
                        <li><a class="dropdown-item" href="#">Sair</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>